@font-face {
    font-family: "font";
    src: url('RobotoCondensed-SemiBold.ttf');
}
body {
    margin: 0;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(180deg,rgb(21,113,159),rgb(82,138,180));
    color: white;
    padding: 5% 10%;
    font-family: "font";
}

button {
    font-family: "font";
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    background-color: rgb(21,113,159);
    box-shadow: 0 0 10px 5px rgb(0, 0, 0,0.3);
    z-index: 10;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    gap: 2em;
}

.sidebar .unit {
    align-self: self-start;
}

.sidebar .unit button{
    border: none;
    background-color: rgb(82,138,180);
    border-radius: 0 10px 10px 0;
    color: white;
}
.sidebar h2 {
    margin: 0;
    padding: 0;
    font-size: 5rem;
}

.sidebar img {
    height: 6em;
}

.search {
    display: flex;
}
.search input, button {
    font-size: 1rem;
    padding: 0.5em;
    border: none;
}

.search input{
    border-radius: 5px 0 0 5px;
    width: 8em;
}
.search input:focus{
    outline: none;
}

.search button{
    background-color: rgb(223,178,40);
    padding-inline: 0.5em;
    border-radius: 0 5px 5px 0;
    color: white;
}

.days {
    background-color:  	rgb(82,138,180);
    text-align: center;
    /* height: 100vh; */
    font-size: 1.2rem;
}

.weeks {
    height: 100%;
    text-align: center;
}
.weeks h3 {
    margin: 0;
    padding-top: 2em;
}
.weeks .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.weeks .card {
    padding-top: 3em;
    padding-bottom: 1em;
}
.weeks .card:nth-child(1), .weeks .card:nth-child(2), .weeks .card:nth-child(3) {
    border-bottom: 1px solid rgb(255, 255, 255);
}
.weeks .card:nth-child(1),  .weeks .card:nth-child(3) {
  border-image: linear-gradient(to left, rgb(255, 255, 255) 80%, transparent 50%) 100% 1;
}
.weeks .card:nth-child(3) {
    border-image: linear-gradient(to right, rgb(255, 255, 255) 80%, transparent 50%) 100% 1;
}
  
.weeks .header {
    grid-column:1/4;

}
.weeks img {
    height: 4em;
}

.card-temp {
    font-size: 2.50rem; 
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

/* 
.filter-green{
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(320deg) brightness(102%) contrast(101%);
} */

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}